<!-- Form customer -->
<section class="section-customer" id="identity-page">
  <div class="container">
    <!-- Outlet Header Card -->
    <div class="outlet-card mb-4">
      <div class="outlet-header">
        <div class="outlet-brand">
          <img
            src="{$BASEURL}resource/assets-frontend/dist/logo/{$site.site_icon|default:'icon.png'}"
            alt="Logo"
            class="outlet-logo"
          />
          <div class="outlet-info">
            <h4 class="outlet-name">
              {if isset($outlet.outlet_name)}{$outlet.outlet_name}{/if}
            </h4>
            <div class="outlet-badge">
              <span>Official Outlet</span>
            </div>
          </div>
        </div>
      </div>

      <div class="outlet-details">
        <div class="detail-item">
          <div class="detail-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="detail-content">
            <span class="detail-label">Lokasi</span>
            <span class="detail-text"
              >{if
              isset($outlet.outlet_address)}{$outlet.outlet_address}{/if}</span
            >
          </div>
        </div>

        <div class="detail-item">
          <div class="detail-icon">
            <i class="far fa-clock"></i>
          </div>
          <div class="detail-content">
            <span class="detail-label">Jam Operasional</span>
            <span class="detail-text"
              >{if isset($outlet.hour_open)}{$outlet.hour_open} -
              {$outlet.hour_close}{/if}</span
            >
          </div>
        </div>

        <div class="detail-item">
          <div class="detail-icon">
            <i class="fas fa-phone-alt"></i>
          </div>
          <div class="detail-content">
            <span class="detail-label">Kontak</span>
            <span class="detail-text"
              >{if isset($outlet.outlet_phone)}{$outlet.outlet_phone}{/if}</span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Customer Form Card -->
    <div class="auth-card">
      <div class="auth-header">
        <div class="welcome-icon">
          <i class="fas fa-user-circle"></i>
        </div>
        <h3>Selamat Datang</h3>
        <p>Silakan masukkan nama Anda untuk melanjutkan pesanan</p>
      </div>

      <div class="auth-form">
        <div class="form-group">
          <label for="inputCustomerName" class="form-label">Nama Lengkap :</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputCustomerName"
              placeholder="Masukkan nama Anda"
            />
          </div>
        </div>

        <button class="btn btn-primary btn-lg w-100 mt-4" id="submitName">
          Call To Waiter
          <i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section
  class="explore-section section-padding custom-hidden"
  id="order-page"
  hidden
>
  <!-- Detail Products -->
  <div
    class="modal fade"
    id="detail-product"
    tabindex="-1"
    aria-labelledby="detail-product-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title fs-5"
            color="white"
            id="detail-product-label"
          ></h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div id="product-id" hidden></div>
            <div class="row">
              <div class="col-12">
                <img
                  id="detail-product-image"
                  src=""
                  class="rounded mx-auto d-block"
                  alt=""
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p id="detail-product-description" class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-info" id="add-to-cart">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Detail Product -->

  <!-- Cart -->
  <div
    class="modal fade"
    id="cart-modal"
    tabindex="-1"
    aria-labelledby="cart-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cart-label"></h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container text-center" id="container-cart"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-info" id="order">
            Order Now!
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Cart -->

  <div class="container">
    <div class="row custom-center-element">
      <div class="col-12 text-center">
        <h2 class="mb-4">Browse Products</h2>
      </div>
    </div>
  </div>

  <!-- Filter select category -->
  <div class="container text-center pb-lg-1">
    <div class="row p-4 p-lg-0" style="margin-left: 0">
      <div class="col-6 col-md-4">
        <select
          id="category-select"
          class="form-select"
          aria-label="Select category"
        >
          <option value="all" selected>Select Category</option>
          {foreach from=$catalogueCategories key=key item=cat}
          <option value="{$cat.cat_id}">{$cat.cat_name}</option>
          {/foreach}
        </select>
      </div>
      <div class="col-6 col-md-4">
        <button class="btn btn-primary position-relative" id="show-cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
            id="count-cart"
            >0</span
          >
        </button>
      </div>
      <div class="col-12 col-md-4 mt-2">
        <h5>Customer: <span id="customer-name"></span></h5>
      </div>
    </div>
  </div>
  <!-- End of select category -->

  <!-- Browse Product -->
<div class="container-fluid text-center">
    <div class="row text-center" style="margin-left: 0;">
        <div class="col-12 pt-2">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="products-tab-pane" role="tabpanel">
                    <div class="container">
                        {if !empty($grouped_products)}
                            <!-- Iterasi untuk setiap kategori -->
                            {foreach from=$grouped_products key=cat_id item=category}
                                <!-- Header Kategori -->
                                <div class="row text-center align-items-end" style="margin-left: 0;">
                                    <div class="col-12 pt-2 rounded" style="background-color: #62411e;" data-category-id="{$cat_id}">
                                        <div class="d-flex justify-content-center">
                                            <h2 style="color: #fff">{$category.category_name}</h2>
                                        </div>
                                    </div>
                                    
                                    <!-- Produk dalam kategori -->
                                    {foreach from=$category.products item=product}
                                        <div class="col-6 col-sm-4 pt-3 product-image-btn" 
                                             data-product-id="{$product.product_id}"
                                             data-category-id="{$cat_id}">
                                             
                                            <!-- Gambar Produk Container -->
                                            <div class="position-relative mb-3">
                                                <div class="product-image-container">
                                                    <img src="{$BASEURL}resource/assets-frontend/dist/product/{$product.product_pict}"
                                                         alt="{$product.product_name}"
                                                         class="img-fluid rounded product-image"
                                                         data-product-id="{$product.product_id}"
                                                         data-category-id="{$cat_id}"
                                                         style="max-height: 200px; object-fit: cover;">
                                                </div>

                                                <!-- Badge Stock -->
                                                <div class="position-absolute top-0 end-0 p-2">
                                                    <span class="badge bg-light text-dark">
                                                        Stock: {$product.stock}
                                                    </span>
                                                </div>

                                                <!-- Overlay Sold Out jika stock 0 -->
                                                {if $product.stock == 0}
                                                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50">
                                                        <img src="{$BASEURL}resource/assets-frontend/dist/katalog/soldout.png"
                                                             alt="Sold Out"
                                                             style="max-height: 3em; max-width: 4em;">
                                                    </div>
                                                {/if}
                                            </div>

                                            <!-- Info Produk -->
                                            <div class="product-info p-2">
                                                <h5 class="product-name fw-bold mb-2">
                                                    {$product.product_name|upper}
                                                </h5>
                                                <div class="price-tag mb-3">
                                                    <span class="rounded-circle custom-catalogue-dotrp">Rp</span>
                                                    <span class="custom-catalogue-text">
                                                        {$product.price_catalogue} <sup>K</sup>
                                                    </span>
                                                </div>
                                                <!-- Tombol Pilih -->
                                                <button class="btn btn-primary view-product w-100" 
                                                        {if $product.stock == 0}disabled{/if}>
                                                    Pilih
                                                </button>
                                            </div>
                                        </div>
                                    {/foreach}
                                </div>
                            {/foreach}
                        {else}
                            <!-- Tampilan jika tidak ada produk -->
                            <div class="col-12 py-5">
                                <div class="alert alert-info">
                                    Tidak ada produk tersedia saat ini
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- End of Browse Product -->
</section>

<!-- Modal Menunggu Persetujuan -->
<div class="modal fade" id="waitingApprovalModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Menunggu Persetujuan Kasir</h5>
      </div>
      <div class="modal-body text-center">
        <p>Silahkan tunggu kasir mengonfirmasi pesanan Anda</p>
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p id="approvalAttempts" class="mt-2"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancelSession">
          Batalkan
        </button>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="{$BASEURL}resource/assets-frontend/css/orderpelanggan.css"
/>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Page Script -->
<script src="{$BASEURL}resource/assets-frontend/js/order.js"></script>
<!-- End of Page Script -->
