<!-- Order Bell -->
<audio id="orderBell">
	<source src="{$BASEURL}resource/assets-frontend/audio/orderBell.mpeg" type="audio/mpeg" />
</audio>

<!-- Approval Modal -->
<div class="modal fade" id="approvalModal" tabindex="-1" aria-labelledby="approvalModal-label" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="approvalModal-label">Konfirmasi Pelanggan</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h5>Detail Pelanggan</h5>
							<table class="table">
								<tr>
									<th>Nama</th>
									<td id="approval-customer-name"></td>
								</tr>
								<tr>
									<th>Meja</th>
									<td id="approval-table-number"></td>
								</tr>
								<tr>
									<th>Outlet</th>	
									<td id="approval-outlet-name"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-danger" id="reject-session">Tolak</button> -->
				<button type="button" class="btn btn-success" id="approve-session">Setujui</button>
			</div>
		</div>
	</div>
</div>

<!-- Detail Order Modal -->
<div class="modal fade" id="detailOrder" tabindex="-1" aria-labelledby="detailOrder-label" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="detailOrder-label"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<table class="table" id="detailProduct"></table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-info" id="detailAction">Done</button>
				<button type="button" class="btn btn-primary" id="releaseData">Release</button>
			</div>
		</div>
	</div>
</div>

<!-- Main Content -->
<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="row my-2">
				<div class="col-md-12">
					<!-- Select Brand -->
					<div class="row my-2">
						<div class="col-6 col-md-4 col-lg-2">
							<select id="brand" class="form-select">
								<option value="kopitiam">Kopitiam</option>
								<option value="bakery">Bakery</option>
								<option value="resto">Resto</option>
							</select>
						</div>
					</div>

					<!-- Tables List -->
					<div class="row my-2">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="text-center">
										<th>No</th>
										<th>Status</th>
										<th width="15%"></th>
									</tr>
								</thead>
								<tbody>
									{for $table=1 to $datas.count_table}
									<tr id="tableId-{$table}" class="table-record">
										<td class="text-center">{$table}</td>
										<td class="text-center">
											<span id="tableStatus-{$table}"
												class="badge badge-pill badge-sm badge-info">
												Kosong
											</span>
										</td>
										<td class="text-center">
											<button class="btn btn-sm btn-outline-info btn-rounded view-order"
												data-table-id="{$table}">
												<i class="fa-regular fa-eye"></i>
											</button>
										</td>
									</tr>
									{/for}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Script -->
<script src="{$BASEURL}resource/assets-frontend/js/orderCashier.js"></script>
<!-- End of Page Script -->
