/* Variables */
:root {
	--primary: #62411e;
	--primary-light: #8b5e2c;
	--primary-dark: #3e2913;
	--primary-transparent: rgba(98, 65, 30, 0.1);
	--secondary: #ff9924;
	--text-dark: #2d2d2d;
	--text-light: #ffffff;
	--grey-light: #f5f5f5;
	--grey-medium: #e0e0e0;
	--success: #4CAF50;
	--warning: #FFC107;
	--error: #FF5252;
	--border-radius: 12px;
	--shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
	--transition: all 0.3s ease;
}

/* Global Styles */
body {
	font-family: 'Inter', sans-serif;
	color: var(--text-dark);
	line-height: 1.6;
	background-color: var(--grey-light);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

/* Outlet Card Styles */
.outlet-card {
	background: var(--text-light);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-md);
	overflow: hidden;
	transition: var(--transition);
}

.outlet-card:hover {
	transform: translateY(-2px);
	box-shadow: var(--shadow-lg);
}

.outlet-header {
	padding: 1.5rem;
	background: linear-gradient(45deg, var(--primary), var(--primary-light));
	color: var(--text-light);
}

.outlet-brand {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.outlet-logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid var(--text-light);
}

.outlet-info {
	flex-grow: 1;
}

.outlet-name {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
	color: #f5f5f5;
}

.outlet-badge {
	display: inline-block;
	background: var(--secondary);
	padding: 0.25rem 0.75rem;
	border-radius: 20px;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.outlet-details {
	padding: 1.5rem;
}

.detail-item {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-bottom: 1rem;
}

.detail-icon {
	width: 40px;
	height: 40px;
	background: var(--primary-transparent);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary);
}

.detail-content {
	flex-grow: 1;
}

.detail-label {
	display: block;
	font-size: 0.875rem;
	color: #666;
	margin-bottom: 0.25rem;
}

.detail-text {
	font-weight: 500;
}

/* Auth Card Styles */
.auth-card {
	background: var(--text-light);
	border-radius: var(--border-radius);
	padding: 2rem;
	box-shadow: var(--shadow-md);
	max-width: 500px;
	margin: 2rem auto;
}

.auth-header {
	text-align: center;
	margin-bottom: 2rem;
}

.welcome-icon {
	width: 80px;
	height: 80px;
	background: var(--primary-transparent);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 1rem;
	color: var(--primary);
	font-size: 2rem;
}

.auth-header h3 {
	color: var(--primary);
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.auth-header p {
	color: #666;
	margin: 0;
}

.auth-form .form-group {
	margin-bottom: 1.5rem;
}

.form-label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--primary);
	font-weight: 500;
}

.input-group {
	display: flex;
	border: 2px solid var(--grey-medium);
	border-radius: var(--border-radius);
	overflow: hidden;
	transition: var(--transition);
}

.input-group:focus-within {
	border-color: var(--primary);
}

.input-group-text {
	background: var(--grey-light);
	border: none;
	color: #666;
	padding: 0.75rem 1rem;
}

.form-control {
	border: none;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	flex-grow: 1;
}

.form-control:focus {
	outline: none;
}

.btn {
	border: none;
	border-radius: var(--border-radius);
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	transition: var(--transition);
	cursor: pointer;
}

.btn-primary {
	background: var(--primary);
	color: var(--text-light);
}

.btn-primary:hover {
	background: var(--primary-light);
}

.btn-secondary {
	background: var(--grey-medium);
	color: var(--text-dark);
}

.btn-info {
	background: var(--primary);
	color: var(--grey-light);
}

/* Product Section Styles */
.explore-section {
	padding: 4rem 0;
}

.product-image-btn {
	cursor: pointer;
	transition: var(--transition);
}

.product-image-btn:hover {
	transform: translateY(-5px);
}

.image-catalogue {
	position: relative;
	margin-bottom: 1rem;
}

.custom-catalogue-product-name {
	color: var(--primary);
	font-size: 1.1rem;
	margin: 0.5rem 0;
}

.custom-catalogue-dotrp {
	background: var(--primary);
	color: var(--text-light);
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}

.custom-catalogue-text {
	font-size: 1.25rem;
	color: var(--primary);
	font-weight: 600;
}

/* Modal Styles */
.modal-content {
	border-radius: var(--border-radius);
	overflow: hidden;
}

.modal-header {
	background: var(--primary);
	color: var(--text-light);
	border: none;
}

.modal-header .modal-title {
	color: var(--text-light);
}

.modal-footer {
	border-top: 1px solid var(--grey-medium);
	padding: 1rem;
}

/* Category Select Styles */
.form-select {
	padding: 0.75rem 1rem;
	border: 2px solid var(--grey-medium);
	border-radius: var(--border-radius);
	background-color: var(--text-light);
	color: var(--text-dark);
	font-weight: 500;
	transition: var(--transition);
}

.form-select:focus {
	border-color: var(--primary);
	outline: none;
}

/* Cart Button Styles */
.btn-cart {
	position: relative;
	padding: 0.75rem;
	background: var(--primary);
	color: var(--text-light);
	border-radius: 50%;
}

.badge {
	position: absolute;
	top: -8px;
	right: -8px;
	background: var(--success);
	color: var(--text-light);
	border-radius: 50%;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	font-weight: 600;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
	.outlet-brand {
		flex-direction: column;
		text-align: center;
	}

	.outlet-logo {
		margin: 0 auto;
	}

	.detail-item {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.auth-card {
		margin: 1rem;
		padding: 1.5rem;
	}

	.form-select,
	.btn-cart {
		width: 100%;
		margin-bottom: 1rem;
	}
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 0.3s ease forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--grey-light);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-light);
}

/* Cart Styles */
.cart-container {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
}

.cart-header {
    background: var(--primary);
    color: white;
}

.cart-item {
    transition: all 0.3s ease;
}

.cart-item:hover {
    background-color: #f8f9fa;
}

.cart-item-image img {
    transition: all 0.3s ease;
}

.cart-item-image img:hover {
    transform: scale(1.05);
}

.cart-item-details {
    min-width: 0;
}

.quantity-controls {
    background: #f8f9fa;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.qty-display {
    min-width: 2rem;
    text-align: center;
    font-weight: 600;
}

.btn-icon {
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-info {
    text-align: right;
}

.subtotal {
    color: var(--primary);
    font-weight: 600;
}

.cart-footer {
    border-top: 1px solid #dee2e6;
}

/* Animations */
.cart-item {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom Scrollbar for Cart Items */
.cart-items {
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #f1f1f1;
}

.cart-items::-webkit-scrollbar {
    width: 6px;
}

.cart-items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.cart-items::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .cart-item {
        padding: 1rem;
    }
    
    .cart-item-image img {
        width: 60px;
        height: 60px;
    }
    
    .price-info {
        text-align: left;
        margin-top: 1rem;
    }
}